<h2>Welcome {{ fname }}!</h2>
<div class="container">
 
<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="https://martinbryant.dev/conquer/conquer-original/img/1-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-success">Tom smith</h5>
      <p class="card-text">Morbi sagittis just a velit placerat ullamcorper who who wants. But the author laughs at the valley. Who wants it or not. Everyone always takes the door but life. A large double bed, decorated with chocolate.</p>
</div>
  </div>
  </div>
  
